* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
header {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
  z-index: 11;
  color: #00b2ff;
  align-items: center;
}

header h1 {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
}

header p {
  margin-bottom: 10px;
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
}

/* arranque */

section {
  background-color: rgb(236, 236, 236)
}
.primertexto,
.prorrogo {
  color: black;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  padding: 20px 10%;
}

/* productos */
.contenedor {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(224, 224, 224);
}

.estructura {
  display: flex;
  justify-content: center;
}

.contenedor-prod {
  border-radius: 8px;
  height: 150px;
  width: 150px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.caja-estructura {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.caja-estructura img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.filtro-texto {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
}

.filtro-texto p {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10px;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
  font-family: sans-serif;
  color: #ffff;
  font-size: 25px;
}

.caja-estructura:hover p {
  color: yellow;
}


/* niidea */
.fondo2 {
  background-color: rgb(224, 224, 224);
}

.fondo2 h2 {
  display: flex;
  padding: 10px;
  font-size: 40px;
  justify-content: center;
  color: #00b2ff;
  font-family: 'Nunito', sans-serif;
}

.zonas {
  color: black;
  text-align: center;
  font-size: 25px;
  padding: 0px 10% 10px 10%;
  font-family: 'Josefin Slab', serif;
}

/* servicios */

.servicios {
  width: 100%;
  padding: 10px;
  display: flex;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
  justify-content: center;

}
.serviempresa {
  width: 50%;
  padding: 10px;
  display: flex;
  text-align: end;
  margin-right: 10px;
  flex-direction: column;
  justify-content: space-between;
  border-right: black 5px solid;
  

}
.servinfo {
  width: 50%;
display: flex;
flex-direction: column;
}




/* barra de datos */

.datos {
  background-color: #6c6c6c;
  color: black;
  padding: 20px 0px 50px 0px;
  width: 100%;
  display: flex;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
  justify-content: center;
}
.datosweb {
  display: flex;
  flex-direction: column;
 padding-top: 10px;
}
.logo {
  margin-right: 10px;

}

.logo img {
  width: 60px;
  height: 60px;

}



/* footer */

footer {
  display: flex;
  justify-content: center;
}

.foo {
  background-color: black;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 5px 15px;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  z-index: 1;
}

.contenedor-contactos img {
  margin-right: 10px;
  width: 40px;
}

.tel {
  text-decoration: none;
  color: white;
}